{% set phrase = signals.phrase|trim %}
{% fragment %}
    <div id="searchResults">
        <h2 class="text-lg font-bold">Search results (show total)</h2>
        <ul class="list-inside list-disc mt-1">
            <li>Sample result for a search of <span class="font-bold">"{{ signals.phrase ?? '' }}"</span> in Craft CMS</li>
        </ul>
    </div>
{% endfragment %}

{% fragment %}
    <pre id="debugger" class="whitespace-pre-line {{ updateHistory =='1' ? 'bg-yellow-400': 'bg-red-400' }}">
        {% if updateHistory %}
            {% if signals.phrase|length %}
                Update window.history with JavaScript and change URL query parameter to: <span
                    class="font-mono font-bold bg-gray-50 px-1 inline-block text-sm rounded-sm">phrase={{ signals.phrase | trim | url_encode|replace({'%20': '+'}) }} </span>
            {% else %}
                Remove the query parameter  <span
                    class="font-mono font-bold bg-gray-50 px-1 inline-block text-sm rounded-sm">phrase</span> from the URL
            {% endif %}
        {% else %}
            Triggered by browser buttons. Don't update window.history with JavaScript.
        {% endif %}
    </pre>
{% endfragment %}

{% executescript %}
    {% set phrase = signals.phrase|trim %}
    const url = new URL(window.location.href);
    {% if phrase %}
        url.searchParams.set('phrase', '{{ phrase }}');
    {% else %}
        url.searchParams.delete('phrase');
    {% endif %}

    {% if updateHistory %}
        console.log('Updating window.history with JavaScript');
        window.history.pushState({}, '', url);
        // Update the title of the page
        document.title = `Search: {{ phrase }}`;
    {% endif %}
{% endexecutescript %}