{% fragment %}
    <div id="searchResults">
        <h2 class="text-lg font-bold">Search results</h2>
        <ul class="list-inside list-disc mt-1">
            <li>Sample result for a search of <span class="font-bold">"{{ signals.phrase ?? '' }}"</span> in Craft CMS</li>
        </ul>
    </div>
{% endfragment %}

{% fragment %}
    <div id="debugger" class="p-5 {{ isPopstateEvent =='1' ? 'bg-red-400': 'bg-yellow-400' }}">
        {% if isPopstateEvent %}
            Triggered by history state change, don't update the history via javascript.
        {% else %}
            {% if signals.phrase|length %}
                Update URL query parameter to: <span
                    class="font-mono font-bold bg-gray-50 px-1 inline-block text-sm rounded-sm">phrase={{ signals.phrase | trim | url_encode|replace({'%20': '+'}) }} </span>
            {% else %}
                Remove the query parameter  <span
                    class="font-mono font-bold bg-gray-50 px-1 inline-block text-sm rounded-sm">phrase</span> from the URL
            {% endif %}
        {% endif %}
    </div>
{% endfragment %}

{% executescript %}
    const searchPhrase = "{{ signals.phrase ?? '' }}";
    const isPopstateEvent = "{{ isPopstateEvent ?? null }}";
    const url = new URL(window.location.href);
    if (searchPhrase.trim() !== '') {
    url.searchParams.set('phrase', searchPhrase.trim());
    } else {
    // Remove the query parameter if the search phrase is empty
    url.searchParams.delete('phrase');
    }
    console.log('isPopstateEvent', isPopstateEvent);
    if (isPopstateEvent === '0' || isPopstateEvent === 'null') {
    console.log('pushing state');
    window.history.pushState({}, '', url);
    // Update the title of the page
    document.title = `Search: ${searchPhrase}`;
    }
{% endexecutescript %}
