<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search</title>
    <style>
        .bg-red-400 {
            background-color: rgb(248 113 113) /* #f87171 */;
        }

        .bg-yellow {
            background-color: yellow;
        }

        .whitespace-pre-line {
            white-space: pre-line;
        }

        .text-blue {
            color: rgb(20, 97, 221) /* #1461dd */;
        }
    </style>
</head>
<body>
<div>
    <h1>Datastar Test - v5: Adding complexity with section choice</h1>

    {# Set the initial value of 'phrase' to the query parameter in the URL on page load. #}
    {% set phrase = craft.app.request.getQueryParam('phrase') ?? '' %}
    {% set sections = craft.app.request.getQueryParam('sections') ?? '0' %}

    {# Include the search form #}
    <div id="container"
         data-signals="{{ {phrase: phrase, searchCounter: 0, browserHistoryCounter: 0, lastPhrase: '', sections: sections }|json_encode }}">
        <div>
            <fieldset>
                <legend>Search Sections</legend>
                {% set expression = '$phrase.trim().length && ' ~ datastar.get('_datastar/search-results-v5.twig', { updateHistory: true }) ~ ' && $searchCounter++; $lastPhrase = $phrase.trim()' %}
                <div>
                    <label for="globalSearch">
                        <input id="globalSearch"
                               data-on-change="{{ expression }}"
                               type="radio"
                               data-bind-sections
                               value="0">
                        {# We bind the text-blue class here to give the user additional feedback on the active selection #}
                        <span data-class="{'text-blue': ($sections == '0')}">All sections</span>
                    </label>
                </div>

                <div>
                    <label for="blogPosts">
                        <input id="blogPosts"
                               data-on-change="{{ expression }}"
                               type="radio"
                               data-bind-sections
                               value="1">
                        <span data-class="{'text-blue': ($sections == '1')}">Blog posts</span>
                    </label>
                </div>

                <div>
                    <label for="savedLinks">
                        <input id="savedLinks"
                               data-on-change="{{ expression }}"
                               type="radio"
                               data-bind-sections
                               value="2">
                        <span data-class="{'text-blue': ($sections == '2')}">Saved links</span>
                    </label>
                </div>
            </fieldset>
        </div>
        <div>
            <label for="phrase">Enter a phrase</label>
            <input type="text"
                   name="phrase"
                   id="phrase"
                   placeholder="What are you looking for?"
                   data-bind-phrase
                   data-on-input__debounce.200ms="($phrase.trim() !== $lastPhrase.trim()) && {{ datastar.get('_datastar/search-results-v5.twig', { updateHistory: true }) }} && $searchCounter++, $lastPhrase = $phrase.trim();"
                   data-on-load="$phrase.length >= 1 && {{ datastar.get('_datastar/search-results-v5.twig') }} && $searchCounter++; $lastPhrase = $phrase.trim();"
                   data-on-historychange="$phrase=evt.detail.phrase; $sections=evt.detail.sections; $browserHistoryCounter++; {{ datastar.get('_datastar/search-results-v5.twig', { updateHistory: false }) }}"
            >
            <p>You've used the search <span data-text="$searchCounter"></span> time<span
                        data-show="$searchCounter !== 1">s</span>.
            </p>
            <h2>data-json-signals:</h2>
            <pre class="whitespace-pre-line bg-yellow" data-json-signals></pre>
        </div>

        <h2>Debugger</h2>
        <pre id="debugger" class="whitespace-pre-line bg-yellow">debugging info will appear here from _datastar/search-results-v5.twig</pre>

        <div id="searchResults">
            <h2>Search results</h2>
            <ul>
                <li>results from _datastar/search-results-v5.twig will appear here</li>
            </ul>
        </div>
    </div>

    <script>
      let url;
      const container = document.getElementById('container');
      document.addEventListener('DOMContentLoaded', () => {
        const searchPhrase = document.querySelector('[data-bind-phrase]');

        // set focus on the search input
        searchPhrase.focus();
        window.addEventListener('popstate', (event) => {
          // When the browser navigates back or forward,
          // the current URL already reflects the desired state.
          const currentUrl = new URL(window.location.href);
          const searchPhraseValue = currentUrl.searchParams.get('phrase') || '';
          // Update the input field value, which is bound to the Datastar signal
          searchPhrase.value = searchPhraseValue;
          const sections = currentUrl.searchParams.get('sections') || 0;

          // a new custom event that we can listen for
          const historyChangeEvent = new CustomEvent('historychange', {
            detail: {
              phrase: searchPhrase.value,
              sections: sections
            }
          });

          // Dispatch the custom event on the search input
          searchPhrase.dispatchEvent(historyChangeEvent);
        });

        // Listen for the history change event
        container.addEventListener('historychange', (e) => {
          console.log('historychange event heard', e), false; // set focus on the search input
          searchPhrase.focus();
        });
      });
    </script>
</div>
</body>
</html>
